* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  height: 124px;
  border: 1px solid red;
}
.header-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
}
.footer {
  height: 156px;
  border: 1px solid red;
}
.footer-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav {
  flex-grow: 1;
}
.container {
  height: 100%;
  border: 1px solid blue;
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 15px;
}
.logo {
  min-width: 100%;
}
.logo img {
  width: 100%;
}
